<br>
		<br>
			<% poll = Poll.find_by_id(session[:poll_id]) %>
				<% alloption = poll.poll_options %>
				<h1 style="margin-left:5px"> <%= poll.question %> </h1>
				<div>
					<table class="table table-hover table-condensed" style="margin-left:5px">
					    <thead>
					        <tr>
					            <th>Option</th>
					            <th>Voting button</th>
					        </tr>
				    	</thead>
		
						<% alloption.each do |item| %>
						<% if(item.keyword != "") %>
							<tbody>
								<tr>
									<td>
										<%= item.keyword %>
									</td>
									<td>
							            <%= link_to "Vote", {:action => "vote_now", :poll_id => session[:poll_id], :option_id => item.id } %>
							            <br>
								 	</td>
								</tr>
							</tbody>
							<% end %>
						<% end %>
						<tfoot>
						 
						</tfoot>
					</table>
				</div>
				