<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>Home Page</title>
        <br>
    
      <!--aaaaaaaaaaaaaaaaaaaaaaaa-->
   <!--  <h1 style="margin-left:5px"> Newsfeed - All Discussions </h1> -->

    <br>
    <div>
    <%= link_to "", {:controller => "posts", :action => "show_posts"}, :id=> 'posting', :remote => true %>
    </div>
    <div>
    <br>
    <span style="font-size:18px; color:green;">
    <%="All Discussions"%>
    </span>
     <div class="line"> </div>
 
    
    <div id="posts_c">
      <table class="table table-hover table-condensed" style="margin-left:5px">
         <tbody>
          <%= render(@posts) %>        
         </tbody>
      </table>
    </div>

  <body>

  <script type='text/javascript'>
    $(document).ready(function() {
      setInterval(function() {
              $('#posting').click();
            }, 2000);
    });
  </script>
  </body>

</html>