<%#= link_to"Back to Calendar", {controller: "calendar", action: "show", :class => 'back-link'}, class: "btn btn-primary" %>

<div class="Event delete">
	<h2>Delete Event</h2>
	<%= form_for(:event, :url => {:action => 'destroy', :id => @event.id}) do |f|%>
	
	<p>Are you sure you want to delete this event?</p>
	<p class="reference-name"><%= @event.name %></p>
	<div class="form-buttons"> 
		<%= f.submit("Event delete")%>
	</div>
	<% end %>
</div>	
