<h1>New doc_user</h1>

<%= form_for(:doc_user, :url => {:action => 'create'}) do |f|%>
	<%= render(:partial => "form", :locals=> {:f=>f})%>
	<div class="form-buttons">
		<%= submit_tag("Submit")%>
	</div>
<%end%>

<%= link_to 'Back', doc_users_path %>
