

    <div class="col-md-5 col-md-offset-3" style="margin-top:40px; background:#FFFFFF; box-shadow:0px 0px 10px #666666; border:1px solid #CCCCCC;opacity: 0.8;filter:alpha(opacity=80);">   
   <center> <h1>Add Document</h1></center>
    <div class="line"> </div>
<%= form_for(:doc_user, :url => {:action => 'create'}) do |f|%>
	<%= render(:partial => "form", :locals=> {:f=>f})%>

<br>
		  <%= submit_tag("Submit" , :class => 'btn btn-primary')%>

	<br>
<%end%>

</div>
